@import "tailwindcss";

:root {
  --background: #18181b; /* matches bg-neutral-800 */
  --foreground: #fff;    /* matches text-white */
  --card-bg: #18181b;    /* bg-neutral-800 for cards */
  --card-border: #737373; /* border-neutral-500 */
  --card-title: #a3a3a3;  /* text-neutral-500 */
  --card-subtitle: #d4d4d4; /* text-neutral-400 */
  --font-mono: var(--font-mono), 'Space Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
}

/* globals.css */
html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), 'Space Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
}
